*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	background: #f0f2f1;
	font-family: 'open Sans', sans-serif;
}

a{
	text-decoration: none;
}

.contenedor{
	max-width: 1200px;
	margin:50px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	border: 1px solid;
	background: #DBDBDB;
}

.contenedor_tarjeta{
	margin: 20px;
}

.contenedor_tarjeta a{
	display: inline-block;
}

.contenedor_tarjeta:hover figure{
	-webkit-transform: perspective(600px) rotateY(180deg);
	-ms-transform: perspective(600px) rotateY(180deg);
	-o-transform: perspective(600px) rotateY(180deg);
	transform: perspective(600px) rotateY(180deg);

	-webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25); /*esto hace como una sombra de colores de la imagen*/
-moz-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.25);
}

.contenedor_tarjeta:hover figure img{
	/*filter: blur(2px);*/
}

figure{
	width: 320px;
	height: 370px;
	margin:0;
	position: relative;
	transition: all ease .5s;
	transform-style: preserve-3d;
	transform: perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera{
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: all ease .5s;
}

figure .frontal{
	display: block;
	/*backface-visibility: hidden;*/
}

figure .trasera{
	position: absolute;
	top: 0;
	padding: 20px;
	color: white;
	transform: perspective(600px) rotateY(180deg);
	backface-visibility: hidden;
	overflow: auto;


}

.contenedor_tarjeta:nth-child(1) figure .trasera{
	background: rgba(189,146,85,1);
	background: -moz-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,146,85,1)), color-stop(27%, rgba(195,169,150,0.9)), color-stop(52%, rgba(189,146,85,0.8)), color-stop(77%, rgba(195,169,150,0.71)), color-stop(100%, rgba(195,169,150,0.8)));
	background: -webkit-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -o-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -ms-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: linear-gradient(135deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9255', endColorstr='#c3a996', GradientType=1 );
}

.contenedor_tarjeta:nth-child(2) figure .trasera{
	background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor_tarjeta:nth-child(3) figure .trasera{
	background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor_tarjeta:nth-child(4) figure .trasera{
	background: rgba(101,74,54,0);
background: -moz-linear-gradient(45deg, rgba(101,74,54,0) 0%, rgba(28,17,8,0.26) 12%, rgba(171,168,162,0.9) 41%, rgba(181,178,173,0.89) 43%, rgba(190,172,157,0.75) 66%, rgba(195,169,150,0.84) 77%, rgba(216,205,192,1) 97%, rgba(219,210,198,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(101,74,54,0)), color-stop(12%, rgba(28,17,8,0.26)), color-stop(41%, rgba(171,168,162,0.9)), color-stop(43%, rgba(181,178,173,0.89)), color-stop(66%, rgba(190,172,157,0.75)), color-stop(77%, rgba(195,169,150,0.84)), color-stop(97%, rgba(216,205,192,1)), color-stop(100%, rgba(219,210,198,1)));
background: -webkit-linear-gradient(45deg, rgba(101,74,54,0) 0%, rgba(28,17,8,0.26) 12%, rgba(171,168,162,0.9) 41%, rgba(181,178,173,0.89) 43%, rgba(190,172,157,0.75) 66%, rgba(195,169,150,0.84) 77%, rgba(216,205,192,1) 97%, rgba(219,210,198,1) 100%);
background: -o-linear-gradient(45deg, rgba(101,74,54,0) 0%, rgba(28,17,8,0.26) 12%, rgba(171,168,162,0.9) 41%, rgba(181,178,173,0.89) 43%, rgba(190,172,157,0.75) 66%, rgba(195,169,150,0.84) 77%, rgba(216,205,192,1) 97%, rgba(219,210,198,1) 100%);
background: -ms-linear-gradient(45deg, rgba(101,74,54,0) 0%, rgba(28,17,8,0.26) 12%, rgba(171,168,162,0.9) 41%, rgba(181,178,173,0.89) 43%, rgba(190,172,157,0.75) 66%, rgba(195,169,150,0.84) 77%, rgba(216,205,192,1) 97%, rgba(219,210,198,1) 100%);
background: linear-gradient(45deg, rgba(101,74,54,0) 0%, rgba(28,17,8,0.26) 12%, rgba(171,168,162,0.9) 41%, rgba(181,178,173,0.89) 43%, rgba(190,172,157,0.75) 66%, rgba(195,169,150,0.84) 77%, rgba(216,205,192,1) 97%, rgba(219,210,198,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654a36', endColorstr='#dbd2c6', GradientType=1 );
}

.contenedor_tarjeta:nth-child(5) figure .trasera{
	background: #a8c0ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3f2b96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.contenedor_tarjeta:nth-child(6) figure .trasera{
	background: rgba(189,146,85,1);
	background: -moz-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,146,85,1)), color-stop(27%, rgba(195,169,150,0.9)), color-stop(52%, rgba(189,146,85,0.8)), color-stop(77%, rgba(195,169,150,0.71)), color-stop(100%, rgba(195,169,150,0.8)));
	background: -webkit-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -o-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -ms-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: linear-gradient(135deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9255', endColorstr='#c3a996', GradientType=1 );
}

.contenedor_tarjeta:nth-child(7) figure .trasera{
	background: rgba(101,74,54,0);
background: -moz-linear-gradient(45deg, rgba(101,74,54,0) 0%, rgba(28,17,8,0.26) 12%, rgba(171,168,162,0.9) 41%, rgba(181,178,173,0.89) 43%, rgba(190,172,157,0.75) 66%, rgba(195,169,150,0.84) 77%, rgba(216,205,192,1) 97%, rgba(219,210,198,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(101,74,54,0)), color-stop(12%, rgba(28,17,8,0.26)), color-stop(41%, rgba(171,168,162,0.9)), color-stop(43%, rgba(181,178,173,0.89)), color-stop(66%, rgba(190,172,157,0.75)), color-stop(77%, rgba(195,169,150,0.84)), color-stop(97%, rgba(216,205,192,1)), color-stop(100%, rgba(219,210,198,1)));
background: -webkit-linear-gradient(45deg, rgba(101,74,54,0) 0%, rgba(28,17,8,0.26) 12%, rgba(171,168,162,0.9) 41%, rgba(181,178,173,0.89) 43%, rgba(190,172,157,0.75) 66%, rgba(195,169,150,0.84) 77%, rgba(216,205,192,1) 97%, rgba(219,210,198,1) 100%);
background: -o-linear-gradient(45deg, rgba(101,74,54,0) 0%, rgba(28,17,8,0.26) 12%, rgba(171,168,162,0.9) 41%, rgba(181,178,173,0.89) 43%, rgba(190,172,157,0.75) 66%, rgba(195,169,150,0.84) 77%, rgba(216,205,192,1) 97%, rgba(219,210,198,1) 100%);
background: -ms-linear-gradient(45deg, rgba(101,74,54,0) 0%, rgba(28,17,8,0.26) 12%, rgba(171,168,162,0.9) 41%, rgba(181,178,173,0.89) 43%, rgba(190,172,157,0.75) 66%, rgba(195,169,150,0.84) 77%, rgba(216,205,192,1) 97%, rgba(219,210,198,1) 100%);
background: linear-gradient(45deg, rgba(101,74,54,0) 0%, rgba(28,17,8,0.26) 12%, rgba(171,168,162,0.9) 41%, rgba(181,178,173,0.89) 43%, rgba(190,172,157,0.75) 66%, rgba(195,169,150,0.84) 77%, rgba(216,205,192,1) 97%, rgba(219,210,198,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#654a36', endColorstr='#dbd2c6', GradientType=1 );
}

.contenedor_tarjeta:nth-child(8) figure .trasera{
	background: rgba(189,146,85,1);
	background: -moz-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,146,85,1)), color-stop(27%, rgba(195,169,150,0.9)), color-stop(52%, rgba(189,146,85,0.8)), color-stop(77%, rgba(195,169,150,0.71)), color-stop(100%, rgba(195,169,150,0.8)));
	background: -webkit-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -o-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -ms-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: linear-gradient(135deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9255', endColorstr='#c3a996', GradientType=1 );
}

.contenedor_tarjeta:nth-child(9) figure .trasera{
	background: rgba(189,146,85,1);
	background: -moz-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,146,85,1)), color-stop(27%, rgba(195,169,150,0.9)), color-stop(52%, rgba(189,146,85,0.8)), color-stop(77%, rgba(195,169,150,0.71)), color-stop(100%, rgba(195,169,150,0.8)));
	background: -webkit-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -o-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -ms-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: linear-gradient(135deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9255', endColorstr='#c3a996', GradientType=1 );
}

.contenedor_tarjeta:nth-child(10) figure .trasera{
	background: rgba(189,146,85,1);
	background: -moz-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,146,85,1)), color-stop(27%, rgba(195,169,150,0.9)), color-stop(52%, rgba(189,146,85,0.8)), color-stop(77%, rgba(195,169,150,0.71)), color-stop(100%, rgba(195,169,150,0.8)));
	background: -webkit-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -o-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -ms-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: linear-gradient(135deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9255', endColorstr='#c3a996', GradientType=1 );
}


.contenedor_tarjeta:nth-child(11) figure .trasera{
	background: rgba(189,146,85,1);
	background: -moz-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,146,85,1)), color-stop(27%, rgba(195,169,150,0.9)), color-stop(52%, rgba(189,146,85,0.8)), color-stop(77%, rgba(195,169,150,0.71)), color-stop(100%, rgba(195,169,150,0.8)));
	background: -webkit-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -o-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -ms-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: linear-gradient(135deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9255', endColorstr='#c3a996', GradientType=1 );
}

.contenedor_tarjeta:nth-child(12) figure .trasera{
	background: rgba(189,146,85,1);
	background: -moz-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,146,85,1)), color-stop(27%, rgba(195,169,150,0.9)), color-stop(52%, rgba(189,146,85,0.8)), color-stop(77%, rgba(195,169,150,0.71)), color-stop(100%, rgba(195,169,150,0.8)));
	background: -webkit-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -o-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -ms-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: linear-gradient(135deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9255', endColorstr='#c3a996', GradientType=1 );
}

.contenedor_tarjeta:nth-child(13) figure .trasera{
	background: rgba(189,146,85,1);
	background: -moz-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,146,85,1)), color-stop(27%, rgba(195,169,150,0.9)), color-stop(52%, rgba(189,146,85,0.8)), color-stop(77%, rgba(195,169,150,0.71)), color-stop(100%, rgba(195,169,150,0.8)));
	background: -webkit-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -o-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: -ms-linear-gradient(-45deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	background: linear-gradient(135deg, rgba(189,146,85,1) 0%, rgba(195,169,150,0.9) 27%, rgba(189,146,85,0.8) 52%, rgba(195,169,150,0.71) 77%, rgba(195,169,150,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9255', endColorstr='#c3a996', GradientType=1 );
}


figure .trasera .titulo{
	color: #fff;
	font-weight: normal;
	margin-bottom: 20px;
	font-family: 'robot', sans-serif;
	font-size: 24px;
}

figure .trasera hr{
	height: 2px;
	background: #fff;
	border: none;
	margin-bottom: 20px;
	opacity: .5;
}

figure .trasera p{
	font-family: 'Open Sans', sans-serif;
	line-height: 22px;
	font-size: 14px;
}

.agencia{
	background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/*@media screen and (max-width: 992px){  esto es para que haga la funcion de dar vuelta la imagen en dispositivos moviles
	figure .trasera{
		backface-visibility: visible;
		transform: perspective(600px) rotateY(0deg);
	}

	.contenedor_tarjeta:hover figure{
		transform: perspective(600px) rotateY(0deg);
	}
}*/  